body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg,#b14582,#2213ab);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  background-color: #ffffff;
  width: 29%;
  height: 35%;
  border-radius: 15px;
  text-align: center;
}

.login input {
  display: block;
  margin: 2% auto;
  text-align: center;
  background: none;
  border-radius: 22px;
  padding: 12px;
  font-size: 15px;
  outline: none;
}

.login input[type="text"], .login input[type="password"] {
  border: 2px solid #3498db;
  width: 220px;
}

.login input[type="submit"] {
  border: 2px solid #2ecc71;
  width: 150px;
  color: #2ecc71;
  cursor: pointer;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
  border: 2px solid #2ecc71;
  width: 280px;
  transition: 0.5s;
}

.login input[type="submit"]:hover {
  background-color: #2ecc71;
  color: #ffffff;
  transition: 0.5s;
}
